body, head{
    margin: 0;
    height: auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-nav__item{
    margin-right: 47px;
    text-transform: uppercase;
}

.header{
    background-color: black;
}

.header-nav__item a{
    text-decoration: none;
    color: white;
}

.header-nav{
    list-style: none;
    display: flex;
    margin-left: 550px;
}

.sp{
    color: #e3b873;
    text-transform: uppercase;
}

